@import "imports";

body {
	background-image: 		image-url("top-banner-bg.gif"),
							image-url("bg.gif");
	background-repeat: 		repeat-x,
							repeat;
	background-position: 	0px 90px,
							top left;
	text-align: center;
}

h2 {
	font-weight: normal;
	font-size: rem-calc(32);

	strong {
		font-weight: bold;
	}
}
h3 {
	color: $primary-color;
	font-family: "Shadows Into Light Two", cursive;
}
a {
	border-bottom: 1px solid rgba($body-font-color, 0.3);

	&:hover,
	&:active {
		border-bottom: 1px solid rgba($body-font-color, 0.5);
		color: $primary-color;
	}
}

.container {
	@include grid-row;

	section {
		@include grid-column;
		width: 100%;
	}
}

footer {
	@include grid-row;

	section {
		@include grid-column;
	}
}

.header-logo {
	@include responsive-image-replacement("header-logo.png");
}

header {
	@include grid-column($center: true);
	margin: 0 auto $column-gutter;
	max-width: image-width("header-logo.png");
	position: relative;

	a[href="#wedding"] {
		border-bottom: none;
		display: inline-block;
		font-family: $secondary-font-family;
		font-size: rem-calc(16);
		line-height: 1.5;
		margin-top: rem-calc(16);
		max-width: rem-calc(200);

		@media #{$large-up} {
			position: absolute;
			top: rem-calc(50);
			right: -(rem-calc(220));
			text-align: left;
		}
	}
}

section {
	position: relative;

	// Only apply arrow background to those that aren't in alternate class
	&:not(.alternate) {
		&::before {
			$single-arrow-image: "single-arrow.png";
			$arrow-padding: ceil(image-height($single-arrow-image) / 5);

			background: image-url($single-arrow-image) no-repeat 0 0;
			content: '';
			display: block;
			height: image-height($single-arrow-image);
			margin: -$arrow-padding auto $arrow-padding;
			width: image-width($single-arrow-image);
		}
		// And give child sections the double arrow bg image, on mid-large screens
		@media #{$medium-up} {
			&> section {
				&::before {
					$double-arrow-image: "double-arrow.png";
					$double-arrow-padding: ceil(image-height($double-arrow-image) / 5);

					background: image-url($double-arrow-image) no-repeat center center;
					background-size: contain;
					content: '';
					display: block;
					height: image-height($double-arrow-image);
					margin: -$double-arrow-padding auto $double-arrow-padding;
					max-width: image-width($double-arrow-image);
					width: 100%;
				}
				margin-bottom: rem-calc(30);
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol {
		margin: 0 auto rem-calc(20);
		max-width: rem-calc(780);
	}

	p {
		font-size: rem-calc(20);

		&.alternate {
			font-family: $secondary-font-family;
			font-size: rem-calc(20);
			margin-bottom: rem-calc(8);

			&:first-child {
				margin-top: rem-calc(14);
			}
		}
		small {
			display: block;
		}
	}
}

img[alt*="checkbox"] {
	$checkbox-image: "checkbox.png";
	height: image-height($checkbox-image) / 2;
	width: image-width($checkbox-image) / 2;

	@media #{$large-up} {
		height: image-height($checkbox-image);
		width: image-width($checkbox-image);		
	}
}

footer {
	$mountains-image: "mountains.png";
	$footer-bg-image: "footer-bg.png";
	$experimental-support-for-svg: true;

	// Double BG images: 
	@include background-image(
			image-url($mountains-image),
			image-url($footer-bg-image),
			linear-gradient(transparent, transparent 20%, $body-font-color 20%, $body-font-color)
		);					
	background-origin: 	padding-box,
						content-box, 
						content-box;
	background-position: 	top center,
							0 ( -(image-width($footer-bg-image) / 2) + 8px );
	background-repeat:  	no-repeat, 
							repeat-x;
	background-size:  	contain, 
						image-width($footer-bg-image) / 2,
						contain;

	margin-top: $column-gutter;
	min-height: image-height($footer-bg-image);
	padding-top: percentage( image-height($mountains-image) / image-width($mountains-image) );

	section {
		&:not(.alternate) {
			&::before {
				display: none;
			}
		}
	}
}